<div class="container">
    <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col-sm-3">
            <div class="box hl1">
                <div>
                    <img class="profile_picture" src="<%= profilePic%>">
                </div>
                <p><b><%= user['firstName'] %> <%= user['lastName'] %></b> (<%= dob %> ans)</p>
                <p><%= user['bio'] %></p>
                <br>
                <p><b>Popularity score</b></p>
                <% for (stars=0; stars < user['popularityScore']; stars++) { %>
                    <img class="profile_star" src="/images/star.png">
                <% } %>
            </div>
            <div class="box hl3">
                <h4>Interests</h4>
                <p><b>Add your interest</b></p>
                <form method="post" action="/home/addHashtag">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Hashtag" name="hashtag" required="true">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="Add">
                        </span>
                    </div>
                </form>
                <div class="hashtag-box">
                <% if (user['hashtag']) { %>
                    <% for (var i = 0; i < user['hashtag'].length; i++) { %>
                        <span class="hashtag_user">#<%= user['hashtag'][i] %></span>
                    <% } %>
                <% } %>
                </div>
            </div>
            <div class="box">
                <h4>Filter by</h4>
                <div class="form-group">
                <form method="post" action="/home/filterBy">
                <select class="form-control" id="sel1" name="filter">
                    <option value="none" <%= user['filterBy'] === "none" ? 'selected' : '' %>>None</option>
                    <option value="age-up" <%= user['filterBy'] === "age-up" ? 'selected' : '' %>>Age ↗</option>
                    <option value="age-down" <%= user['filterBy'] === "age-down" ? 'selected' : '' %>>Age ↘</option>
                    <option value="location-up" <%= user['filterBy'] === "location-up" ? 'selected' : '' %>>Localisation ↗</option>
                    <option value="location-down" <%= user['filterBy'] === "location-down" ? 'selected' : '' %>>Localisation ↘</option>
                    <option value="popularity-up" <%= user['filterBy'] === "popularity-up" ? 'selected' : '' %>>Popularity ↗</option>
                    <option value="popularity-down" <%= user['filterBy'] === "popularity-down" ? 'selected' : '' %>>Popularity ↘</option>
                </select>
                <input type="submit" class="btn btn-default" name="filterBy" value="Filter">
                </form>
                </div>
            </div>
        </div>
        <!-- MIDDLE COLUMN -->
        <div class="col-sm-6">
            <div class="box swipe-box">
                <ul style="list-style-type: none; padding: 0;" id="peopleList">
                <% if (people) { %>
                    <% for (i=0; i < people.length; i++) { %>
                        <li class="people-box" style="display:<%= i === 0 ? 'inline' : 'none' %>">
                        <span id='matchedLogin' style="display:none;"><%= people[i]['login'] %></span>
                        <span><b><%= people[i]['firstName'] %> <%= people[i]['lastName'] %></b> (<%= people[i]['age'] %> ans)</span><br>
                        <span><%= people[i]['sex'] %></span><br>
                        <span><b>Address:</b> <%= people[i]['address'] ? people[i]['address'] : people[i]['tmpAddress'] %></span><br>
                        <% for (stars=0; stars < people[i]['popularityScore']; stars++) { %>
                            <img class="profile_star" src="/images/star.png">
                        <% } %><br><br>
                        <img class="match-img" src="/uploads/<%= people[i].profilePicture ? people[i].profilePicture : '../images/basic_profile_picture.png' %>"><br><br>

                            <% for (y=0; y < people[i]['hashtag'].length; y++) { %>
                            <span class="hashtag"><%= people[i]['hashtag'][y] %></span>
                        <% } %>
                    </li>
                    <% } %>
                <% }     %>
                    <li class="people-box" style="display: <%= people ? 'none' : 'inline' %>" id="no-more">
                        <span><b>No more matches</b></span><br>
                        <br><br><br>
                        <img class="match-img" src="/images/cross.png"><br><br>
                    </li>
                    <img src="/images/arrow_next_picture.png" style="display: <%= people ? 'inline' : 'none' %>" class="arrows next-arrow">
                    <img src="/images/arrow_previous_picture.png" style="display: <%= people ? 'inline' : 'none' %>" class="arrows previous-arrow">
                </ul>
                <% if (user.profilePicture !== undefined) {%>
                    <img class="dislike" src="/images/sign-error.png" style="display: <%= people ? 'inline' : 'none' %>">
                    <img class="like" src="/images/sign-check.png" style="display: <%= people ? 'inline' : 'none' %>;">
                <% } else { %>
                    <div class="alert alert-info">You must have a profile picture to swipe</div>
                <%}%>
            </div>
        </div>
        <!-- RIGHT COLUMN -->
        <div class="col-sm-3">
            <div class="box hr1">
                <h4>Filter</h4>
                    <span><b>Age</b></span><br>
                        <div class="range-age-values" id="skip-value-lower"></div>
                        <div class="range-age-values" id="skip-value-upper"></div>
                        <div id="range_age"></div><br>
                    <span><b>Score</b></span><br>
                        <div class="range-age-values" id="skip-value-lower-score"></div>
                        <div class="range-age-values" id="skip-value-upper-score"></div>
                        <div id="range_score"></div>
                        <button class="btn btn-default" id="filter-age-score">Filter</button>
            </div>
            <div class="box hl2">
                <h4>Orientation</h4>
                <form action="/home/editOrientation" method="post">
                    <div class="center-orientation">
                        <div class="btn-group" role="group" aria-label="...">
                            <input type="submit" name="orientation" class="btn btn-default<%= user['orientation']==='Men' ? ' selected': '' %> " value="Men">
                            <input type="submit" name="orientation" class="btn btn-default<%= user['orientation']==='Bisexual' ? ' selected': '' %>" value="Bisexual">
                            <input type="submit" name="orientation" class="btn btn-default<%= user['orientation']==='Women' ? ' selected': '' %>" value="Women">
                        </div>
                    </div>
                </form>
            </div>
            <div class="box hr2">
                <h4>Location</h4>
                <span><b>Address</b></span><br>
                <span><%= user['address'] ? user['address'] : user['tmpAddress'] %></span><br><br>
                <form method="post" action="/home/editAddress">
                <div class="input-group">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Update">
                    </span>
                    <input type="text" name="newAddress" class="form-control" id="location" placeholder="<%= user['address'] ? user['address'] : user['tmpAddress'] %>" required="true">
                </div>
                </form>
            </div>
            <div class="box hr3">
                <h4>By interest</h4>
                <span>Separated by spaces</span>
                <form method="post" action="/home/hashtagFilter">
                <div class="input-group">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Search">
                    </span>
                    <input type="text" name="hashtagFilter" class="form-control" value="<%= user['hashtagFilter'] ? user['hashtagFilter'] : '' %>" placeholder="Enter #">
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--
        CHAT BOX
    -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4 box hl-chat">
                <% if (matches) { %>
                    <% for (i=0; i < matches.length; i++) { %>
                        <% if (i !== matches.length - 1) {%>
                            <div class="chat-people" id="select-<%= matches[i]['login'] %>">
                                <div class="chat-img">
                                    <img src="/uploads/<%= matches[i]['profilePicture'] %>" class="profile_picture_chat <%= matches[i]['status'] === 'online' ? 'online' : 'offline' %>">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= matches[i]['firstName'] %> <%= matches[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="chat-people last-box" id="select-<%= matches[i]['login'] %>">
                                <div class="chat-img">
                                    <img src="/uploads/<%= matches[i]['profilePicture'] %>" class="profile_picture_chat <%= matches[i]['status'] === 'online' ? 'online' : 'offline' %>">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= matches[i]['firstName'] %> <%= matches[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } %>    
                    <% } %>
                <% } else { %>
                    <div>No matches yet</div>
                <% } %>
            </div>
            <div class="col-sm-8 box hl-chat">
            <% if (matches) { %>
                <% for (i=0; i < matches.length; i++) { %>
                    <% if (conversations[i][0] !== null) { %>
                    <div id="chat-<%= matches[i]['login'] %>" style="display:none;" class="chatbox">
                        <div class="box message-box col-sm-12 col-xm-12 col-md-12">
                            <% for (y=0; y < conversations[i].length; y++) { %>
                                <% if (conversations[i][y]['from'] !== user['login']) { %>
                                <div class="row msg-img-text">
                                    <div class="col-sm-2 col-xs-2 col-md-2 alignRight">
                                        <img src="/uploads/<%= matches[i]['profilePicture'] %>" class="profile_picture_chat"/>
                                    </div>
                                    <div class="col-sm-9 col-xs-9 col-md-9 message-received">
                                        <p><%= conversations[i][y]['message'] %></p>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="row msg-img-text">
                                    <div class="col-sm-1 col-xs-1 col-md-1"></div>
                                    <div class="col-sm-8 col-xs-8 col-md-8 message-sent alignRight">
                                        <p><%= conversations[i][y]['message'] %></p>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 col-md-2">
                                        <img src="/uploads/<%= user['profilePicture'] %>" class="profile_picture_chat">
                                    </div>
                                </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="input-message">
                            <div class="input-group">
                                <input id="input-<%= matches[i]['login'] %>" type="text" class="form-control" placeholder="Message">
                                <span class="input-group-btn">
                                    <button id="<%= matches[i]['login'] %>" class="btn btn-default send" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div id="chat-<%= matches[i]['login'] %>" style="display:none;"  class="chatbox">                   
                        <div class="box message-box col-sm-12 col-xm-12 col-md-12"></div>                        
                        <div class="input-message">
                            <div class="input-group">
                                <input id="input-<%= matches[i]['login'] %>" type="text" class="form-control" placeholder="Message">
                                <span class="input-group-btn">
                                    <button id="<%= matches[i]['login'] %>" class="btn btn-default send" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            <% } %>
            </div>
        </div>
    </div>
</div>
<script src="/js/nouislider.js"></script>
<script>
    function url(){
        var url =  window.location.href;
        url = url.split("/");
        return(url[0] + '//' + url[2] + '');
    }

    /* Age range */
    var skipSlider = document.getElementById('range_age');

    noUiSlider.create(skipSlider, {
        range: {
            'min':	18,
            '2%':	19,
            '3%':	20,
            '5%':	21,
            '6%':	22,
            '8%':	23,
            '10%':	24,
            '11%':	25,
            '13%':	26,
            '15%':	27,
            '16%':	28,
            '18%':	29,
            '19%':	30,
            '21%':	31,
            '23%':	32,
            '24%':	33,
            '26%':	34,
            '27%':	35,
            '29%':	36,
            '31%':	37,
            '32%':	38,
            '34%':	39,
            '35%':	40,
            '37%':	41,
            '39%':	42,
            '40%':	43,
            '42%':	44,
            '44%':	45,
            '45%':	46,
            '47%':	47,
            '48%':	48,
            '50%':	49,
            '52%':	50,
            '53%':	51,
            '55%':	52,
            '56%':	53,
            '58%':	54,
            '60%':	55,
            '61%':	56,
            '63%':	57,
            '65%':	58,
            '66%':	59,
            '68%':	60,
            '69%':	61,
            '71%':	62,
            '73%':	63,
            '74%':	64,
            '76%':	65,
            '77%':	66,
            '79%':	67,
            '81%':	68,
            '82%':	69,
            '84%':	70,
            '85%':	71,
            '87%':	72,
            '89%':	73,
            '90%':	74,
            '92%':	75,
            '94%':	76,
            '95%':	77,
            '97%':	78,
            '98%':	79,
            'max':	80
        },
        snap: true,
        start: [<%= user['filter'] ? user['filter']['minAge'] : 18 %>, <%= user['filter'] ? user['filter']['maxAge'] : 80 %>]
    });
    var skipValues = [
        document.getElementById('skip-value-lower'),
        document.getElementById('skip-value-upper')
    ];
    skipSlider.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
    });

    /* Score range */
    var skipSliderScore = document.getElementById('range_score');

    noUiSlider.create(skipSliderScore, {
        range: {
            'min':	0,
            '10%':	1,
            '20%':	2,
            '30%':	3,
            '40%':	4,
            '50%':	5,
            '60%':	6,
            '70%':	7,
            '80%':	8,
            '90%':	9,
            'max':	10
        },
        snap: true,
        start: [<%= user['filter'] ? user['filter']['minScore']: 0 %>, <%= user['filter'] ? user['filter']['maxScore'] : 10 %>]
    });
    var skipValuesScore = [
        document.getElementById('skip-value-lower-score'),
        document.getElementById('skip-value-upper-score')
    ];
    skipSliderScore.noUiSlider.on('update', function( values, handle ) {
        skipValuesScore[handle].innerHTML = Math.round(values[handle]);
    });

    /* get Data on filter */
    var buttonFilter = document.querySelector('#filter-age-score');
    buttonFilter.addEventListener('click', function(){
        var age = skipSlider.noUiSlider.get();
        var score = skipSliderScore.noUiSlider.get();
        var xhr = new XMLHttpRequest();
        xhr.open('post', url() + '/home/getFilter', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send('minAge=' + age[0] + '&maxAge=' + age[1] + '&minScore=' + score[0] + '&maxScore=' + score[1] );
        window.location.replace(url() + '/home');
    });
</script>
<script src="/js/home_swipe.js"></script>
<script src="/js/home.js"></script>