<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/js/nouislider.css" rel="stylesheet">
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/myprofile.css'/>
    <!--To ensure proper rendering and touch zooming ON MOBILE-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Matcha</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="homeButton"><a href="/home">Home</a></li>
                <li id="profileButton"><a href="/myprofile">My profile</a></li>
                <li id="searchButton"><a href="/search">Search</a></li>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" id="searchbar" placeholder="Search profile...">
                    <div class="result-search"></div>    
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="notificationsButton">
                    <% if (newNotif) { %>
                        <b>Notifications</b>
                    <% } else { %>
                        Notifications
                    <% } %>
                    </a>
                    <div class="result-search notifications" style="display:none">
                        <% if (notifications) { %>
                            <% for (i = 0; i < notifications.length; i++) { %>
                                <% if (notifications[i]['type'] === 'match') { %>
                                    <% if (notifications[i]['seen'] === false) { %>
                                        <p><b><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just matched your profile</b></p>
                                    <% } else { %>
                                        <p><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just matched your profile</p>                                    
                                    <% } %>
                                <% } else if (notifications[i]['type'] === 'like') { %>
                                    <% if (notifications[i]['seen'] === false) { %>
                                        <p><b><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just liked your profile</b></p>
                                    <% } else { %>
                                        <p><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just liked your profile</p>                                    
                                    <% } %>
                                <% } else if (notifications[i]['type'] === 'view') { %>
                                    <% if (notifications[i]['seen'] === false) { %>
                                        <p><b><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just viewed your profile</b></p>
                                    <% } else { %>
                                        <p><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just viewed your profile</p>                                    
                                    <% } %>
                                <% } else if (notifications[i]['type'] === 'message') { %>
                                    <% if (notifications[i]['seen'] === false) { %>
                                        <p><b><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> sent you a message</b></p>
                                    <% } else { %>
                                        <p><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> sent you a message</p>                                    
                                    <% } %>
                                <% } else if (notifications[i]['type'] === 'dislike') { %>
                                    <% if (notifications[i]['seen'] === false) { %>
                                        <p><b><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just disliked your profile</b></p>
                                    <% } else { %>
                                        <p><a href="/profile/<%= notifications[i]['from'] %>"><%= notifications[i]['from'] %></a> just disliked your profile</p>                                    
                                    <% } %>
                                <% } %>                                
                            <% } %>
                        <% } %>
                    </div>
                </li>
                <li id="settingsButton"><a href="/settings">Settings</a></li>
                <li><a href="/signOut">Logout</a></li>
            </ul>
        </div>
    </div>    
</nav>
<%- body %>
<div id='userLogin' style="display:none"><%= login %></div>
</body>
</html>
<script src="/js/searchbar.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/notifications.js"></script>