<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="box prohl1">
                <div style="width: 100%;">
                    <img class="profile_picture" src="<%= profilePic %>">
                    <img src="/images/arrow_next_picture.png" id="next-arrow" class="arrows-profile">
                    <img src="/images/arrow_previous_picture.png" id="previous-arrow" class="arrows-profile">
                </div>
                <div>
                <% for (stars=0; stars < popularityScore; stars++) { %>
                    <img class="profile_star" src="/images/star.png">
                <% } %>
                </div>
                <p><b><%= firstName %> <%= lastName %></b> <%= likesMe ? ' likes me' : '' %></p>
                <span style="color:<%= status === 'offline' ? 'red' : 'green' %>"><%= status %></span>
                <% if (status === 'offline') { %>
                    <p><b>Last time connected: </b><br><%= lastConnection.toLocaleString() %></p>
                <% } %>
                <p><b>Sex: </b> <%= sex %></p>
                <p><b>Age: </b> <%= dob %></p>
                <label for="comment">Bio:</label>
                <div><%= bio %></div><br>
                <label for="comment">Hashtags:</label>
                <% if (hashtags) { %>
                    <% for (var i = 0; i < hashtags.length; i++) { %>
                        <span class="hashtag_user">#<%= hashtags[i] %></span>
                    <% } %>
                <% } %><br><br>
                <% if (profilePic !== '/images/basic_profile_picture.png' && userOnlinePic !== undefined) {%>
                    <div id='swipe'>
                        <% if (swiped === null) { %>
                            <img class="dislike" src="/images/sign-error.png">
                            <img class="like" src="/images/sign-check.png">
                        <% } else { %>
                            <br><br>
                            <span><b>You <%= swiped %>d this profile already</b></span>
                            <% if (swiped === 'like') { %>
                            <br><span>If you want to dislike this profile <a id="dislikeAfterLike" href='/profile/dislike/users/login/<%= loginProfile %>'>Click here</a></span>
                            <% } %>
                        <% } %>
                    </div>
                <% } else {%>
                    <div class="alert alert-info">Missing a profile picture to swipe</div>
                <% }%>
                <div style="text-align: right;">
                    <% if (reported === null) { %>
                        <a href="/profile/report/reported/<%= loginProfile %>">Report this profile as fake</a>
                    <% } else { %>
                        <span>You have reported this profile already</span>
                    <% } %><br>
                    <% if (blocked === null) { %>
                        <a href="/profile/block/block/<%= loginProfile %>">Block this profile</a>                        
                    <% } else { %>
                        <a href="/profile/block/unblock/<%= loginProfile %>">Unblock this profile</a>                    
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="box col-sm-12">
                <h4>Who swiped this profile ?</h4>
                <% if (viewers) { %>
                    <% for (i=0; i < viewers.length; i++) { %>
                        <% if (i !== viewers.length - 1) { %>
                            <div class="chat-people">
                                <div class="chat-img">
                                    <img src="/uploads/<%= viewers[i]['profilePicture'] %>" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= viewers[i]['firstName'] %> <%= viewers[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="chat-people last-box">
                                <div class="chat-img">
                                    <img src="/uploads/<%= viewers[i]['profilePicture'] %>" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= viewers[i]['firstName'] %> <%= viewers[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box col-sm-12">
                <h4>Who liked this profile ?</h4>
                <% if (likes) { %>
                    <% for (i=0; i < likes.length; i++) { %>
                        <% if (i !== likes.length - 1) { %>
                            <div class="chat-people">
                                <div class="chat-img">
                                    <img src="/uploads/<%= likes[i]['profilePicture'] %>" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= likes[i]['firstName'] %> <%= likes[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="chat-people last-box">
                                <div class="chat-img">
                                    <img src="/uploads/<%= likes[i]['profilePicture'] %>" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= likes[i]['firstName'] %> <%= likes[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="box col-sm-12">
                <h4>Statistics</h4>
                <div class="stats"><canvas id="myChart"></canvas></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
        data: [<%= statistics[0] %>, <%= statistics[1] %>],
        backgroundColor: ['#36a2eb', '#ff6384']   
    }],

    labels: ['Likes', 'Dislikes'],
    }
});
</script>