<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="box prohl1">
                <div id='userLogin' style="display:none"><%= login %></div>
                <div style="width: 100%;">
                    <img class="profile_picture" src="/images/medium_kneth.jpg">
                </div>
                <div>
                <% for (stars=0; stars < popularityScore; stars++) { %>
                    <img class="profile_star" src="/images/star.png">
                <% } %>
                </div>
                <div id='userLogin' style="display:none"><%= login %></div>
                <p><b><%= firstName %> <%= lastName %></b></p>
                <label for="comment">Bio:</label>
                <div><%= bio %></div>
                <br>
                <% if (swiped === null) { %>
                    <a href="/profile/<%= login %>/dislike"><img class="dislike" src="/images/sign-error.png"></a>
                    <a href="/profile/<%= login %>/like"><img class="like" src="/images/sign-check.png"></a>
                <% } else { %>
                    <span><b>You <%= swiped %>d <%= firstName %> already</b></span>
                <% } %>
                <br>
                <div style="text-align: right;">
                    <% if (reported === null) { %>
                        <a href="/profile/report/reported/<%= login %>">Report this profile as fake</a>
                    <% } else { %>
                        <span>You have reported this profile already</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="box col-sm-12">
                <h4>Who swiped this profile ?</h4>
                <% if (viewers) { %>
                    <% for (i=0; i < viewers.length; i++) { %>
                        <% if (i !== viewers.length - 1) { %>
                            <div class="chat-people">
                                <div class="chat-img">
                                    <img src="/images/<%= viewers[i]['sex'] === 'female' ? 'woman' : 'man' %>.jpg" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= viewers[i]['firstName'] %> <%= viewers[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="chat-people last-box">
                                <div class="chat-img">
                                    <img src="/images/<%= viewers[i]['sex'] === 'female' ? 'woman' : 'man' %>.jpg" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= viewers[i]['firstName'] %> <%= viewers[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box col-sm-12">
                <h4>Who liked this profile ?</h4>
                <% if (likes) { %>
                    <% for (i=0; i < likes.length; i++) { %>
                        <% if (i !== likes.length - 1) { %>
                            <div class="chat-people">
                                <div class="chat-img">
                                    <img src="/images/<%= likes[i]['sex'] === 'female' ? 'woman' : 'man' %>.jpg" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= likes[i]['firstName'] %> <%= likes[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="chat-people last-box">
                                <div class="chat-img">
                                    <img src="/images/<%= likes[i]['sex'] === 'female' ? 'woman' : 'man' %>.jpg" class="profile_picture_chat">
                                </div>
                                <div class="chat-description">
                                    <span><b><%= likes[i]['firstName'] %> <%= likes[i]['lastName'] %></b></span><br>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="box col-sm-12">
                <h4>Statistics</h4>
                <div class="stats"><canvas id="myChart"></canvas></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
        data: [<%= statistics[0] %>, <%= statistics[1] %>],
        backgroundColor: ['#36a2eb', '#ff6384']   
    }],

    labels: ['Likes', 'Dislikes'],
    }
});
</script>
<script src="/js/profile.js"></script>